/*----------------------------------------*/
/*  33. COLORS CSS START
/*----------------------------------------*/


$colors: (
    common: (
        white: #ffffff,
        black: #111111,
        light-white: #eeeeee,
        body: #6a6a6a,
    ),
    heading: (
        primary: #111111,
    ),
    grey: (
        1:#F3FAF5,
        2:#EEEEEE,
    ),
    text: (
        body:#6A6A6A,
    ),
    theme: (
        primary: #DB9E30, 
        secondary: #FFFBEE,
    ),
    border: (
        1: rgba(230, 230, 230, 1),
    ),
    bg: (
        1: rgba(245, 245, 245, 1),
    )
);

/*----------------------------------------*/
/*  33. COLORS CSS END
/*----------------------------------------*/
