$colors: (
    common: (
        white: #ffffff,
        black: #111111,
        light-white: rgba(238, 238, 238, 1),
    ),
    heading: (
        primary: #111111,
    ),
    grey: (
        1:#F3FAF5,
        2:#EEEEEE,
    ),
    text: (
        body:#6A6A6A,
    ),
    theme: (
        primary: rgba(10, 153, 60, 1), 
        secondery: rgba(251, 197, 12, 1),
    ),
    border: (
        1: rgba(238, 238, 238, 1),
    ),
    bg: (
        1: #F3FAF5,
    )
);