@import 'colors';
@import 'typography';

:root {
    /**
    @font family declaration
    */
    @each $ff, $shades in $font-family {
        @each $shade, $value in $shades {
            --st-#{$ff}-#{$shade}: #{$value};
        }
    }

    /**
    @color declaration
    */
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --st-#{$color}-#{$shade}: #{$value};
        }
    }


    /**
    @font weight declaration
    */
    
    @each $fw, $shades in $font-scale {
        @each $shade, $value in $shades {
            --st-#{$fw}-#{$shade}: #{$value};
        }
    }

    /**
    @font size declaration
    */
    
    @each $fz, $shades in $font-size {
        @each $shade, $value in $shades {
            --st-#{$fz}-#{$shade}: #{$value};
        }
    }
    // @each $fz-mob, $shades in $font-size-mob {
    //     @each $shade, $value in $shades {
    //         --st-#{$fz-mob}-#{$shade}: #{$value};
    //     }
    // }
    // @each $fz-tab, $shades in $font-size-tab {
    //     @each $shade, $value in $shades {
    //         --st-#{$fz-tab}-#{$shade}: #{$value};
    //     }
    // }

    /**
    @line height declaration
    */

    @each $lh, $shades in $line-height {
        @each $shade, $value in $shades {
            --st-#{$lh}-#{$shade}: #{$value};
        }
    }
}
