//Section Space

//Padding Utilities

.pt-120 {
    padding-top: 120px;

    @media #{$md, $lg} {
        padding-top: 80px;
    }

    @media #{$xs, $sm} {
        padding-top: 50px;
    }
}

.pb-120 {
    padding-bottom: 120px;

    @media #{$md, $lg} {
        padding-bottom: 80px;
    }

    @media #{$xs, $sm} {
        padding-bottom: 50px;
    }
}

.pt-80 {
    padding-top: 80px;

    @media #{$md, $lg} {
        padding-top: 50px;
    }

    @media #{$xs, $sm} {
        padding-top: 30px;
    }
}

.pb-80 {
    padding-bottom: 80px;

    @media #{$md, $lg} {
        padding-bottom: 50px;
    }

    @media #{$xs, $sm} {
        padding-bottom: 30px;
    }
}

.pt-60 {
    padding-top: 60px;

    @media #{$sm, $xs} {
        padding-top: 30px;
    }
}

.pb-60 {
    padding-bottom: 60px;

    @media #{$sm, $xs} {
        padding-bottom: 30px;
    }
}

.st-pt-4 {
    padding-top: 4px;
}

.st-pt-8 {
    padding-top: 8px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-24 {
    padding-top: 24px;
    @media #{$sm, $xs} {
        padding-top: 16px;
    }
}

.pt-32 {
    padding-top: 32px;
    @media #{$sm, $xs} {
        padding-top: 24px;
    }
}

.pt-48 {
    padding-top: 48px;
    @media #{$sm, $xs} {
        padding-top: 32px;
    }
}

.st-pb-4 {
    padding-bottom: 4px;
}

.st-pb-8 {
    padding-bottom: 8px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-24 {
    padding-bottom: 24px;
    @media #{$sm, $xs} {
        padding-bottom: 16px;
    }
}

.pb-32 {
    padding-bottom: 32px;
    @media #{$sm, $xs} {
        padding-bottom: 24px;
    }
}

.pb-48 {
    padding-bottom: 48px;
    @media #{$sm, $xs} {
        padding-bottom: 32px;
    }
}

.st-py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.st-py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
    @media #{$sm, $xs} {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
    @media #{$sm, $xs} {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
    @media #{$sm, $xs} {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}



//Margin Utilities

.mb-120 {
    margin-bottom: 120px;

    @media #{$md, $lg} {
        margin-bottom: 80px;
    }

    @media #{$xs, $sm} {
        margin-bottom: 50px;
    }
}

.mt-120 {
    margin-top: 120px;

    @media #{$lg} {
        margin-top: 80px;
    }

    @media #{$md} {
        margin-top: 60px;
    }

    @media #{$xs, $sm} {
        margin-top: 50px;
    }

}

.mt-80 {
    margin-top: 80px;

    @media #{$md, $lg} {
        margin-top: 50px;
    }

    @media #{$xs, $sm} {
        margin-top: 30px;
    }
}

.mb-80 {
    margin-bottom: 80px;

    @media #{$md, $lg} {
        margin-bottom: 50px;
    }

    @media #{$xs, $sm} {
        margin-bottom: 30px;
    }
}

.mt-60 {
    margin-top: 60px;

    @media #{$sm, $xs} {
        margin-top: 30px;
    }
}

.mb-60 {
    margin-bottom: 60px;

    @media #{$sm, $xs} {
        margin-bottom: 30px;
    }
}

.st-mt-4 {
    margin-top: 4px;
}

.st-mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
    @media #{$sm, $xs} {
        margin-top: 16px;
    }
}

.mt-32 {
    margin-top: 32px;
    @media #{$sm, $xs} {
        margin-top: 24px;
    }
}

.mt-48 {
    margin-top: 48px;
    @media #{$sm, $xs} {
        margin-top: 32px;
    }
}


.st-mb-4 {
    margin-bottom: 4px;
}

.st-mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
    @media #{$sm, $xs} {
        margin-bottom: 16px;
    }
}

.mb-32 {
    margin-bottom: 32px;
    @media #{$sm, $xs} {
        margin-bottom: 24px;
    }
}

.mb-48 {
    margin-bottom: 48px;
    @media #{$sm, $xs} {
        margin-bottom: 32px;
    }
}


.st-my-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.st-my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
    @media #{$sm, $xs} {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.my-32 {
    margin-top: 32px;
    margin-bottom: 32px;
    @media #{$sm, $xs} {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.my-48 {
    margin-top: 48px;
    margin-bottom: 48px;
    @media #{$sm, $xs} {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}


.ml-sm-24 {
    @media #{$sm} {
        margin-left: 24px;
    }
}