
// font url

$font-url: 'https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap';
$font-url2: 'https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap';

// font family
$font-family: (
    ff: (
        body: "'PT Sans', sans-serif",
        heading: "'Philosopher', sans-serif",
        p: "'PT Sans', sans-serif",
        menu: "'Philosopher', sans-serif",
        button: "'Philosopher', sans-serif",
    )
);

// font weight
$font-scale: (
    fw: (
        normal: normal,
        regular: 400,
        medium: 500,
        sbold: 600,
        bold: 700,
        heading: 700,
        ebold: 800,
        black: 900,
    )
);

// font size
$font-size: (
    fz: (
        body: 18px,
        p: 18px,
        p2: 16px,
        h1: 60px,
        h2: 48px,
        h3: 36px ,
        h4: 32px,
        h5: 28px,
        h6: 24px, 
    )
);
// $font-size-mob: (
//     fz-mob: (
//         h1: 48px,
//         h2: 38px,
//         h3: 24px ,
//         h4: 22px,
//         h5: 24px,
//         h6: 20px, 
//     )
// );
// $font-size-tab: (
//     fz-tab: (
//         body: 18px,
//         h1: 65px,
//         h2: 50px,
//         h3: 38px ,
//         h4: 42px,
//         h5: 34px,
//         h6: 30px, 
//     )
// );

//Line Height

$line-height: (
    lh: (
        body: 28px,
        p: 28px,
        p2: 24px,
        h1: 72px,
        h2: 60px,
        h3: 48px,
        h4: 40px,
        h5: 36px,
        h6: 32px, 
    )
);