/*----------------------------------------*/
/*  38. VARIABLE START
/*----------------------------------------*/


$bg-color: rgba(245, 245, 245, 1);
$theme-color: var(--st-theme-primary);
$ratting-color: rgba(253, 176, 34, 1);

/*----------------------------------------*/
/*  38. VARIABLE END
/*----------------------------------------*/
