@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'PT Sans', sans-serif;
  --st-ff-heading: 'Philosopher', sans-serif;
  --st-ff-p: 'PT Sans', sans-serif;
  --st-ff-menu: 'Philosopher', sans-serif;
  --st-ff-button: 'Philosopher', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #111111;
  --st-common-light-white: rgb(238, 238, 238);
  --st-heading-primary: #111111;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-text-body: #6A6A6A;
  --st-theme-primary: rgb(10, 153, 60);
  --st-theme-secondery: rgb(251, 197, 12);
  --st-border-1: rgb(238, 238, 238);
  --st-bg-1: #F3FAF5;
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 60px;
  --st-fz-h2: 48px;
  --st-fz-h3: 36px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  /**
  @line height declaration
  */
  --st-lh-body: 28px;
  --st-lh-p: 28px;
  --st-lh-p2: 24px;
  --st-lh-h1: 72px;
  --st-lh-h2: 60px;
  --st-lh-h3: 48px;
  --st-lh-h4: 40px;
  --st-lh-h5: 36px;
  --st-lh-h6: 32px;
}

:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'PT Sans', sans-serif;
  --st-ff-heading: 'Philosopher', sans-serif;
  --st-ff-p: 'PT Sans', sans-serif;
  --st-ff-menu: 'Philosopher', sans-serif;
  --st-ff-button: 'Philosopher', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #111111;
  --st-common-light-white: rgb(238, 238, 238);
  --st-heading-primary: #111111;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-text-body: #6A6A6A;
  --st-theme-primary: rgb(10, 153, 60);
  --st-theme-secondery: rgb(251, 197, 12);
  --st-border-1: rgb(238, 238, 238);
  --st-bg-1: #F3FAF5;
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 60px;
  --st-fz-h2: 48px;
  --st-fz-h3: 36px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  /**
  @line height declaration
  */
  --st-lh-body: 28px;
  --st-lh-p: 28px;
  --st-lh-p2: 24px;
  --st-lh-h1: 72px;
  --st-lh-h2: 60px;
  --st-lh-h3: 48px;
  --st-lh-h4: 40px;
  --st-lh-h5: 36px;
  --st-lh-h6: 32px;
}

/*-----------------------------------------------------------------------------------

    Theme Name: suffah – HTML5 Template
    Author: SOFTZINO
    Support: info@softzino.com
    Description: Template Name  – HTML5 Template
    Version: 1.0

-----------------------------------------------------------------------------------

/************ TABLE OF CONTENTS ***************

    01. THEME DEFAULT CSS
    02. HEADER CSS



**********************************************/
/*----------------------------------------*/
/*  01. THEME DEFAULT CSS START
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------
    typography css start 
---------------------------------*/
body {
  font-family: var(--st-ff-body);
  font-size: var(--st-fz-body);
  font-weight: normal;
  color: var(--st-text-body);
  line-height: var(--st-lh-body);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--st-heading-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--st-ff-heading);
  color: var(--st-heading-primary);
  margin-top: 0px;
  font-weight: var(--st-fw-heading);
  line-height: 1.2;
  transition: all 0.3s ease-out 0s;
}

h1 {
  font-size: var(--st-fz-h1);
  line-height: var(--st-lh-h1);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: var(--st-fz-tab-h1);
    line-height: var(--st-lh-h1-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h1 {
    font-size: var(--st-fz-mob-h1);
    line-height: var(--st-lh-h1-mob);
  }
}

h2 {
  font-size: var(--st-fz-h2);
  line-height: var(--st-lh-h2);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  h2 {
    font-size: 65px;
    line-height: 70px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: var(--st-fz-tab-h2);
    line-height: var(--st-lh-h2-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h2 {
    font-size: var(--st-fz-mob-h2);
    line-height: var(--st-lh-h2-mob);
  }
}

h3 {
  font-size: var(--st-fz-h3);
  line-height: var(--st-lh-h3);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: var(--st-fz-tab-h3);
    line-height: var(--st-lh-h3-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h3 {
    font-size: var(--st-fz-mob-h3);
    line-height: var(--st-lh-h3-mob);
  }
}

h4 {
  font-size: var(--st-fz-h4);
  line-height: var(--st-lh-h4);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: var(--st-fz-tab-h4);
    line-height: var(--st-lh-h4-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h4 {
    font-size: var(--st-fz-mob-h4);
    line-height: var(--st-lh-h4-mob);
  }
}

h5 {
  font-size: var(--st-fz-h5);
  line-height: var(--st-lh-h5);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h5 {
    font-size: var(--st-fz-tab-h5);
    line-height: var(--st-lh-h5-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h5 {
    font-size: var(--st-fz-mob-h5);
    line-height: var(--st-lh-h5-mob);
  }
}

h6 {
  font-size: var(--st-fz-h6);
  line-height: var(--st-lh-h6);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h6 {
    font-size: var(--st-fz-tab-h6);
    line-height: var(--st-lh-h6-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h6 {
    font-size: var(--st-fz-mob-h6);
    line-height: var(--st-lh-h6-mob);
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: var(--st-ff-p);
  font-size: var(--st-fz-body);
  font-weight: var(--st-fw-normal);
  color: var(--st-text-body);
  line-height: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  p {
    font-size: var(--st-fz-tab-body);
  }
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.primary-btn {
  display: inline-block;
  padding: 20px 44px;
  color: var(--st-common-white);
  background: var(--st-theme-primary);
  border: 1px solid var(--st-theme-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
  line-height: 24px;
  font-family: var(--st-ff-menu);
  font-weight: var(--st-fw-bold);
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
}
.primary-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--st-common-white);
  z-index: -1;
  transition: all 0.4s ease-out 0s;
}
.primary-btn:hover {
  color: var(--st-theme-primary);
}
.primary-btn:hover::before {
  width: 100%;
}

.header-main-area .main-menu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-main-area .main-menu nav ul li {
  float: left;
}
.header-main-area .main-menu nav ul li a {
  display: block;
  padding-right: 24px;
  font-weight: var(--st-fw-bold);
  line-height: 24px;
  color: var(--st-heading-primary);
  font-family: var(--st-ff-menu);
  transition: all 0.3s ease-out 0s;
}
.header-main-area .main-menu nav ul li a:hover {
  color: var(--st-theme-primary);
}
.header-main-area .logo-area {
  margin-top: -38px;
}
.header-main-area .right-action-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header-main-area .right-action-wrapper .header-search {
  display: inline;
  margin-right: 24px;
}
.header-main-area .right-action-wrapper .header-search a {
  transition: all 0.3s ease-out 0s;
}
.header-main-area .right-action-wrapper .header-search a i {
  font-size: 24px;
}
.header-main-area .right-action-wrapper .header-search a:hover {
  color: var(--st-theme-primary);
}
.header-main-area .right-action-wrapper .header-offcanvas-menu {
  display: inline;
  margin-right: 24px;
}
.header-main-area .right-action-wrapper .header-offcanvas-menu a {
  transition: all 0.3s ease-out 0s;
}
.header-main-area .right-action-wrapper .header-offcanvas-menu a i {
  font-size: 24px;
}
.header-main-area .right-action-wrapper .header-offcanvas-menu a:hover {
  color: var(--st-theme-primary);
}
.header-main-area .right-action-wrapper .header-btn {
  display: inline;
}

.header-top-area {
  background: var(--st-bg-1);
  padding: 12px 0;
}
.header-top-area .header-top-info .location-info {
  display: inline;
  margin-right: 25px;
  color: var(--st-heading-primary);
  font-weight: var(--st-fw-regular);
}
.header-top-area .header-top-info .mail-info {
  display: inline;
  color: var(--st-heading-primary);
}
.header-top-area .header-social-info {
  text-align: end;
}
.header-top-area .header-social-info .social-info {
  display: inline;
  color: var(--st-heading-primary);
  font-weight: var(--st-fw-regular);
}
.header-top-area .header-social-info .social-icon-wrapper {
  display: inline;
}
.header-top-area .header-social-info .social-icon-wrapper a {
  position: relative;
}
.header-top-area .header-social-info .social-icon-wrapper a::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  background: var(--st-common-light-white);
  top: 4px;
}
.header-top-area .header-social-info .social-icon-wrapper a:last-child::after {
  width: 0;
  height: 0;
}
.header-top-area .header-social-info .social-icon-wrapper a i {
  padding: 0 13px;
  color: var(--st-heading-primary);
  transition: all 0.3s ease-out 0s;
}
.header-top-area .header-social-info .social-icon-wrapper a i:hover {
  color: var(--st-theme-primary);
}/*# sourceMappingURL=main.css.map */