@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'PT Sans', sans-serif;
  --st-ff-heading: 'Philosopher', sans-serif;
  --st-ff-p: 'PT Sans', sans-serif;
  --st-ff-menu: 'Philosopher', sans-serif;
  --st-ff-button: 'Philosopher', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #111111;
  --st-common-light-white: rgb(238, 238, 238);
  --st-heading-primary: #111111;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-text-body: #6A6A6A;
  --st-theme-primary: rgb(10, 153, 60);
  --st-theme-secondery: rgb(251, 197, 12);
  --st-border-1: rgb(238, 238, 238);
  --st-bg-1: #F3FAF5;
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-heading: 700;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 60px;
  --st-fz-h2: 48px;
  --st-fz-h3: 36px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  /**
  @line height declaration
  */
  --st-lh-body: 28px;
  --st-lh-p: 28px;
  --st-lh-p2: 24px;
  --st-lh-h1: 72px;
  --st-lh-h2: 60px;
  --st-lh-h3: 48px;
  --st-lh-h4: 40px;
  --st-lh-h5: 36px;
  --st-lh-h6: 32px;
}

:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'PT Sans', sans-serif;
  --st-ff-heading: 'Philosopher', sans-serif;
  --st-ff-p: 'PT Sans', sans-serif;
  --st-ff-menu: 'Philosopher', sans-serif;
  --st-ff-button: 'Philosopher', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #111111;
  --st-common-light-white: rgb(238, 238, 238);
  --st-heading-primary: #111111;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-text-body: #6A6A6A;
  --st-theme-primary: rgb(10, 153, 60);
  --st-theme-secondery: rgb(251, 197, 12);
  --st-border-1: rgb(238, 238, 238);
  --st-bg-1: #F3FAF5;
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-heading: 700;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 60px;
  --st-fz-h2: 48px;
  --st-fz-h3: 36px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  /**
  @line height declaration
  */
  --st-lh-body: 28px;
  --st-lh-p: 28px;
  --st-lh-p2: 24px;
  --st-lh-h1: 72px;
  --st-lh-h2: 60px;
  --st-lh-h3: 48px;
  --st-lh-h4: 40px;
  --st-lh-h5: 36px;
  --st-lh-h6: 32px;
}

/*-----------------------------------------------------------------------------------

    Theme Name: suffah – HTML5 Template
    Author: SOFTZINO
    Support: info@softzino.com
    Description: Template Name  – HTML5 Template
    Version: 1.0

-----------------------------------------------------------------------------------

/************ TABLE OF CONTENTS ***************

    01. THEME DEFAULT CSS
    02. HEADER CSS



**********************************************/
/*----------------------------------------*/
/*  01. THEME DEFAULT CSS START
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------
    typography css start 
---------------------------------*/
body {
  font-family: var(--st-ff-body);
  font-size: var(--st-fz-body);
  font-weight: normal;
  color: var(--st-text-body);
  line-height: var(--st-lh-body);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--st-heading-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--st-ff-heading);
  color: var(--st-heading-primary);
  margin-top: 0px;
  font-weight: var(--st-fw-heading);
  line-height: 1.2;
  transition: all 0.3s ease-out 0s;
}

h1 {
  font-size: var(--st-fz-h1);
  line-height: var(--st-lh-h1);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: var(--st-fz-tab-h1);
    line-height: var(--st-lh-h1-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h1 {
    font-size: var(--st-fz-mob-h1);
    line-height: var(--st-lh-h1-mob);
  }
}

h2 {
  font-size: var(--st-fz-h2);
  line-height: var(--st-lh-h2);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  h2 {
    font-size: 65px;
    line-height: 70px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: var(--st-fz-tab-h2);
    line-height: var(--st-lh-h2-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h2 {
    font-size: var(--st-fz-mob-h2);
    line-height: var(--st-lh-h2-mob);
  }
}

h3 {
  font-size: var(--st-fz-h3);
  line-height: var(--st-lh-h3);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: var(--st-fz-tab-h3);
    line-height: var(--st-lh-h3-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h3 {
    font-size: var(--st-fz-mob-h3);
    line-height: var(--st-lh-h3-mob);
  }
}

h4 {
  font-size: var(--st-fz-h4);
  line-height: var(--st-lh-h4);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: var(--st-fz-tab-h4);
    line-height: var(--st-lh-h4-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h4 {
    font-size: var(--st-fz-mob-h4);
    line-height: var(--st-lh-h4-mob);
  }
}

h5 {
  font-size: var(--st-fz-h5);
  line-height: var(--st-lh-h5);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h5 {
    font-size: var(--st-fz-tab-h5);
    line-height: var(--st-lh-h5-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h5 {
    font-size: var(--st-fz-mob-h5);
    line-height: var(--st-lh-h5-mob);
  }
}

h6 {
  font-size: var(--st-fz-h6);
  line-height: var(--st-lh-h6);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h6 {
    font-size: var(--st-fz-tab-h6);
    line-height: var(--st-lh-h6-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  h6 {
    font-size: var(--st-fz-mob-h6);
    line-height: var(--st-lh-h6-mob);
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: var(--st-ff-p);
  font-size: var(--st-fz-body);
  font-weight: var(--st-fw-normal);
  color: var(--st-text-body);
  line-height: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  p {
    font-size: var(--st-fz-tab-body);
  }
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.mb-20 {
  margin-bottom: 20px;
}

.primary-btn {
  display: inline-block;
  padding: 20px 44px;
  color: var(--st-common-white);
  background: var(--st-theme-primary);
  border: 1px solid var(--st-theme-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
  line-height: 24px;
  font-family: var(--st-ff-menu);
  font-weight: var(--st-fw-bold);
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
}
.primary-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--st-common-white);
  z-index: -1;
  transition: all 0.4s ease-out 0s;
}
.primary-btn:hover {
  color: var(--st-theme-primary);
}
.primary-btn:hover::before {
  width: 100%;
}

.header-main-area .main-menu nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-main-area .main-menu nav ul li {
  position: relative;
}
.header-main-area .main-menu nav ul li a {
  display: block;
  padding-right: 24px;
  font-weight: var(--st-fw-bold);
  color: var(--st-heading-primary);
  font-family: var(--st-ff-menu);
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease-out 0s;
}
.header-main-area .main-menu nav ul li a:hover {
  color: var(--st-theme-primary);
}
.header-main-area .main-menu nav ul li a i {
  margin-left: 6px;
  transition: 0.3s;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-main-area .main-menu nav ul li a i {
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-main-area .main-menu nav ul li a {
    font-size: 16px;
    padding-right: 8px;
  }
}
.header-main-area .logo-area {
  margin-top: -40px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-main-area .logo-area {
    text-align: left;
  }
}
@media (max-width: 450px) {
  .header-main-area .logo-area {
    text-align: center;
  }
}
.header-main-area .right-action-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 450px) {
  .header-main-area .right-action-wrapper {
    justify-content: center;
  }
}
.header-main-area .right-action-wrapper .header-search {
  display: inline;
  margin-right: 24px;
}
.header-main-area .right-action-wrapper .header-search a {
  transition: all 0.3s ease-out 0s;
}
.header-main-area .right-action-wrapper .header-search a i {
  font-size: 24px;
}
.header-main-area .right-action-wrapper .header-search a:hover {
  color: var(--st-theme-primary);
}
.header-main-area .right-action-wrapper .header-offcanvas-menu {
  display: inline;
  margin-right: 24px;
}
.header-main-area .right-action-wrapper .header-offcanvas-menu a {
  transition: all 0.3s ease-out 0s;
}
.header-main-area .right-action-wrapper .header-offcanvas-menu a i {
  font-size: 24px;
}
.header-main-area .right-action-wrapper .header-offcanvas-menu a:hover {
  color: var(--st-theme-primary);
}
.header-main-area .right-action-wrapper .header-btn {
  display: inline;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-main-area .right-action-wrapper .header-btn .primary-btn {
    font-size: 16px;
    padding: 15px;
  }
}

@media (max-width: 450px) {
  .col-3 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
}
.has-dropdown:hover > .dropdown-submenu {
  opacity: 1;
  visibility: visible;
  top: 45px;
  transform: translateY(0);
}
.has-dropdown .dropdown-submenu {
  position: absolute;
  top: 130%;
  left: 0;
  min-width: 180px;
  background: var(--st-common-white);
  border-radius: 6px;
  padding: 10px 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 99;
  flex-direction: column;
}
.has-dropdown .dropdown-submenu li a {
  display: block;
  padding: 12px 20px;
  font-weight: var(--st-fw-bold);
  color: var(--st-heading-primary);
  font-family: var(--st-ff-menu);
  border-bottom: 1px solid var(--st-border-1);
  transition: all 0.3s ease-out 0s;
}
.has-dropdown .dropdown-submenu li a:hover {
  color: var(--st-theme-primary);
}
.has-dropdown .dropdown-submenu li:last-child a {
  border-bottom: none;
}

.mega-menu {
  position: relative;
}
.mega-menu:hover > .mega-submenu {
  opacity: 1;
  visibility: visible;
  top: 45px;
  transform: translateY(0);
}
.mega-menu .mega-submenu {
  position: absolute;
  top: 45px;
  left: 0;
  background: var(--st-common-white);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  border-radius: 6px;
  padding: 34px !important;
}
.mega-menu .mega-submenu li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
  color: var(--st-heading-primary);
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}
.mega-menu .mega-submenu li a .menu-thumbnail {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 6px;
}
.mega-menu .mega-submenu li a .menu-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-out 0s;
}
.mega-menu .mega-submenu li a:hover .menu-thumbnail img {
  transform: scale(1.05);
}
.mega-menu .mega-submenu li a:hover .menu-title {
  color: var(--st-theme-primary);
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 20px;
}
.search-overlay .search-form-box {
  position: relative;
  background: var(--st-common-white);
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
.search-overlay .search-form-box .close-search {
  position: absolute;
  top: -1px;
  right: 7px;
  font-size: 28px;
  background: transparent;
  border: none;
  color: var(--st-theme-primary);
  cursor: pointer;
}
.search-overlay .search-form-box form {
  display: flex;
  gap: 10px;
}
.search-overlay .search-form-box form input {
  flex: 1;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid var(--st-border-1);
  border-radius: 6px;
}
.search-overlay .search-form-box form input:focus {
  border-color: var(--st-theme-primary);
  outline: none;
}
.search-overlay .search-form-box form button[type=submit] {
  padding: 12px 20px;
  border-radius: 6px;
}

/* Off Canvas Overlay */
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  z-index: 9998;
}

/* Off Canvas Menu */
.offcanvas-menu {
  position: fixed;
  top: 0;
  right: -330px;
  width: 330px;
  height: 100%;
  background: #fff;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  transition: all 0.4s ease-out 0s;
  z-index: 9999;
}

.offcanvas-menu.open {
  right: 0;
}

.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}

.close-offcanvas {
  background: none;
  border: none;
  font-size: 26px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.offcanvas-wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--st-border-1);
}
.offcanvas-wrapper .offcanvas-logo {
  margin-bottom: 20px;
}
.offcanvas-wrapper .social-icon-wrapper {
  margin-left: -15px;
}

.offcanvas-menu-list {
  padding-top: 10px;
}
.offcanvas-menu-list .offcanvas-menu-wrapper {
  background-color: #fff;
  padding: 20px;
}
.offcanvas-menu-list .offcanvas-menu-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li {
  position: relative;
  border-bottom: 1px solid #eaeaea;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  font-size: 16px;
  color: #222;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown > a i {
  transition: transform 0.3s ease;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown > a:hover {
  background-color: #f7f7f7;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown .submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  background-color: #fafafa;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown .submenu li {
  border-bottom: 1px solid #eee;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown .submenu li a {
  display: block;
  padding: 12px 30px;
  font-size: 15px;
  color: #444;
  transition: background 0.3s;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown .submenu li a:hover {
  background-color: #efefef;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li.has-dropdown .submenu.open {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li:not(.has-dropdown) a {
  display: block;
  padding: 14px 18px;
  font-size: 16px;
  color: #222;
  font-weight: 500;
  transition: background 0.3s;
}
.offcanvas-menu-list .offcanvas-menu-wrapper li:not(.has-dropdown) a:hover {
  background-color: #f7f7f7;
}
.offcanvas-menu-list .offcanvas-menu-wrapper .mega-menu:hover > .mega-submenu {
  opacity: 1;
  visibility: visible;
  top: 45px;
  transform: translateY(0);
  left: 40px;
  padding: 10px !important;
}

.section-title .subtitle {
  margin-bottom: 0;
}
.section-title .subtitle span {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: var(--st-ff-menu);
  font-weight: var(--st-fw-bold);
}

.header-top-area {
  background: var(--st-bg-1);
  padding: 12px 0;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-top-area {
    padding: 12px 0 30px 0;
  }
}
@media (max-width: 450px) {
  .header-top-area {
    padding: 12px 0 40px 0;
  }
}
.header-top-area .header-top-info .location-info {
  display: inline;
  margin-right: 25px;
  color: var(--st-heading-primary);
  font-weight: var(--st-fw-regular);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-top-area .header-top-info .location-info {
    font-size: 16px;
  }
}
.header-top-area .header-top-info .mail-info {
  display: inline;
  color: var(--st-heading-primary);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-top-area .header-top-info {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-top-area .header-top-info {
    text-align: center;
  }
}
.header-top-area .header-social-info {
  text-align: end;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-top-area .header-social-info {
    text-align: center;
  }
}
.header-top-area .header-social-info .social-info {
  display: inline;
  color: var(--st-heading-primary);
  font-weight: var(--st-fw-regular);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header-top-area .header-social-info .social-info {
    font-size: 16px;
  }
}

.social-icon-wrapper {
  display: inline;
}
.social-icon-wrapper a {
  position: relative;
}
.social-icon-wrapper a::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  background: var(--st-common-light-white);
  top: 4px;
}
.social-icon-wrapper a:last-child::after {
  width: 0;
  height: 0;
}
.social-icon-wrapper a i {
  padding: 0 13px;
  color: var(--st-heading-primary);
  transition: all 0.3s ease-out 0s;
}
.social-icon-wrapper a i:hover {
  color: var(--st-theme-primary);
}
@media (max-width: 450px), (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px) {
  .social-icon-wrapper a i {
    padding: 0 7px;
  }
}

.banner-area {
  height: 700px;
  padding-top: 60PX;
}
.banner-area .section-title {
  margin-bottom: 33px;
}

.info-main-wrapper {
  padding-top: 120px;
}
.info-main-wrapper .info-title {
  background-image: url("/assets/img/bg-img/quote-icon.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}
.info-main-wrapper .info-title h2 {
  text-align: center;
}
.info-main-wrapper .info-counter {
  margin-bottom: 120px;
}
.info-main-wrapper .info-counter .info-single-count {
  border: 1px solid var(--st-border-1);
  padding: 32px 24px;
  transition: all 0.4s ease-out 0s;
}
.info-main-wrapper .info-counter .info-single-count .info-icon {
  margin-bottom: 10px;
}
.info-main-wrapper .info-counter .info-single-count .info-author {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--st-ff-menu);
  font-weight: var(--st-fw-bold);
  display: block;
}
.info-main-wrapper .info-counter .info-single-count:hover {
  border: 1px solid var(--st-theme-primary);
  box-shadow: 0 0 3px var(--st-border-1), 0 0 1px var(--st-theme-primary);
}

.about-us {
  background-image: url("/assets/img/bg-img/about-bg.png");
  padding-top: 120px;
  padding-bottom: 120px;
}/*# sourceMappingURL=main.css.map */