/*----------------------------------------*/
/*  31. ACCORDION CSS START
/*----------------------------------------*/


.tuition-fee {

    .tuition-accordion {
        border-bottom: 1px solid var(--st-border-1);
    }
    .fees-table {
        margin-bottom: 0;
        border-color: var(--st-border-1);
        
        tr {
            &:last-of-type {
                border-bottom: none;
            }
        }
        th:nth-child(2),
        th:nth-child(3),
        td:nth-child(2),
        td:nth-child(3) {
            text-align: center;
        }
        th,
        td {
            padding: 16px;
            background-color: var(--st-bg-1);
            color: var(--st-common-black);
            @media #{$xs} {
                padding: 12px;
            }
        }
        th:first-child,
        td:first-child {
            padding-left: 48px;
            @media #{$xs} {
                padding-left: 20px;
            }
        }
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--st-bg-1); 
    }

    // Remove default styles 
    .accordion-item {
        border: none;
        border-radius: 0;
    }
    .accordion-button {
        padding: 24px 48px;
        border: 1px solid var(--st-border-1);
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @media #{$xs} {
            padding: 16px 20px;
        }
        &:last-of-type {
            border-bottom: none;
        }
        &::after {
            display: none;
        }
        h4 {
            padding-right: 12px;
        }
        i {
            font-size: 24px;
            color: var(--st-heading-primary);
        }
        &:not(.collapsed) i {
            transform: rotate(180deg);
        }
    }
    .accordion-button:focus {
        box-shadow: none;
        outline: none;
    }
    .accordion-button:not(.collapsed) {
        color: unset;
        box-shadow: none;
    }
    .accordion-body {
        padding: 0;
    }
}

/*----------------------------------------*/
/*  31. ACCORDION CSS END
/*----------------------------------------*/
