/*----------------------------------------*/
/*  29. BREADCRUMB CSS START
/*----------------------------------------*/


.page-banner {
  padding: 140px 0 170px;
  position: relative;
  text-align: center;
  color: var(--st-common-white);

  .page-title {
    color: var(--st-common-white);
    padding-bottom: 24px;
  }

  .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    align-items: center;
    .breadcrumb-item {
      color: var(--st-common-white);
      a {
        color: var(--st-common-light-white);
        text-decoration: none;
        transition: color 0.3s;
        font-weight: var(--st-fw-bold);
        font-family: var(--st-ff-heading);
        &:hover {
          color: var(--st-common-white);
        }
      }
      &::before {
        padding-right: unset;
        content: none;
      }
      &::after {
        color: var(--st-common-white);
        content: "›"; 
        font-size: 20px;
        padding: 0 10px 0 8px;
      }

      &.active {
        color: var(--st-theme-primary);
        font-weight: var(--st-fw-bold);
        font-family: var(--st-ff-heading);
      }
    }

    .breadcrumb-item:last-child::after {
      display: none;
    }
  }
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
}

/*----------------------------------------*/
/*  29. BREADCRUMB CSS END
/*----------------------------------------*/

