// Primary Button 
.primary-btn {
  display: inline-block;
  @include transition(0.3s);

  &::before {
    @include transition(0.3s);
  }
}

.primary-btn-full {
  display: block;
  text-align: center;
  @include transition(0.7s);

  &::before {
    @include transition(0.7s);
  }
}

.white-primary-btn {
  padding: 12px 32px;
  border: 1px solid var(--st-border-1);
  display: inline;

}

.primary-btn,
.primary-btn-full {
  padding: 12px 32px;
  color: var(--st-common-white);
  background: var(--st-theme-primary);
  border: 1px solid var(--st-theme-primary);
  position: relative;
  z-index: 1;
  line-height: 24px;
  font-family: var(--st-ff-menu);
  font-weight: var(--st-fw-bold);
  cursor: pointer;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--st-common-white);
    z-index: -1;
  }

  &:hover {
    color: var(--st-theme-primary);

    &::before {
      width: 100%;
    }
  }

  @media #{$xs, $sm} {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 18px;
  }

  @media #{$md, $lg} {
    padding: 10px 22px;
    font-size: 15px;
    line-height: 22px;
  }
}

.primary-btn-v2 {
  border-radius: 4px;

  &::before {
    border-radius: 4px;
  }
}

.readmore-btn {
  position: relative;
  display: inline-block;
  line-height: 24px;
  font-family: var(--st-ff-menu);
  font-weight: var(--st-fw-bold);
  cursor: pointer;
  @include transition(0.3s);
  color: var(--st-theme-primary);
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 5px;
}

.readmore-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 85%;
  height: 2px;
  background-color: var(--st-theme-primary);
  transition: width 0.3s ease;
}

.readmore-btn:hover {
  color: var(--st-theme-primary);
}

.readmore-btn:hover::after {
  width: 100%;
}