// Header Main & Menu Css Start Here

.header-main-area {
    .main-menu {
        nav {
            ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    position: relative;

                    a {
                        display: block;
                        padding-right: 24px;
                        font-weight: var(--st-fw-bold);
                        color: var(--st-heading-primary);
                        font-family: var(--st-ff-menu);
                        line-height: 24px;
                        white-space: nowrap;
                        @include transition(0.3s);

                        &:hover {
                            color: var(--st-theme-primary);
                        }

                        i {
                            margin-left: 6px;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }


    .logo-area {
        margin-top: -40px;
    }

    .right-action-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;

        .header-search {
            display: inline;
            margin-right: 24px;

            a {
                @include transition(0.3s);

                i {
                    font-size: 24px;
                }

                &:hover {
                    color: var(--st-theme-primary);
                }
            }
        }

        .header-offcanvas-menu {
            display: inline;
            margin-right: 24px;

            a {
                @include transition(0.3s);

                i {
                    font-size: 24px;
                }

                &:hover {
                    color: var(--st-theme-primary);
                }
            }
        }

        .header-btn {
            display: inline;
        }
    }
}

//Regular Dropdown Menu Css
.has-dropdown {
    &:hover>.dropdown-submenu {
        opacity: 1;
        visibility: visible;
        top: 45px;
        transform: translateY(0);
    }

    .dropdown-submenu {
        position: absolute;
        top: 130%;
        left: 0;
        min-width: 180px;
        background: var(--st-common-white);
        border-radius: 6px;
        padding: 10px 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease;
        z-index: 99;
        flex-direction: column;

        li {
            a {
                display: block;
                padding: 12px 20px;
                font-weight: var(--st-fw-bold);
                color: var(--st-heading-primary);
                font-family: var(--st-ff-menu);
                border-bottom: 1px solid var(--st-border-1);
                @include transition(0.3s);

                &:hover {
                    color: var(--st-theme-primary);
                }
            }

            &:last-child a {
                border-bottom: none;
            }
        }
    }
}


//Mega Menu Css
.mega-menu {
    position: relative;
  
    &:hover > .mega-submenu {
      opacity: 1;
      visibility: visible;
      top: 45px;
      transform: translateY(0);
    }
  
    .mega-submenu {
      position: absolute;
      top: 45px;
      left: 0;
      background: var(--st-common-white);
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s ease;
      padding: 20px;
      display: flex;
      gap: 20px;
      flex-direction: row;
      border-radius: 6px;
      padding: 34px!important;

  
      li {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          max-width: 200px;
          max-height: 200px;
          color: var(--st-heading-primary);
          text-decoration: none;
          @include transition(0.3s);
  
          .menu-thumbnail {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
            overflow: hidden;
            border-radius: 6px;
  
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              @include transition(0.3s);
            }
          }
  
  
          &:hover {
            .menu-thumbnail img {
              transform: scale(1.05);
            }
  
            .menu-title {
              color: var(--st-theme-primary);
            }
          }
        }
      }
    }
}
  
//Search Overlay CSS
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 20px;

    .search-form-box {
        position: relative;
        background: var(--st-common-white);
        padding: 30px;
        border-radius: 8px;
        max-width: 600px;
        width: 100%;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

        .close-search {
            position: absolute;
            top: -1px;
            right: 7px;
            font-size: 28px;
            background: transparent;
            border: none;
            color: var(--st-theme-primary);
            cursor: pointer;
        }

        form {
            display: flex;
            gap: 10px;

            input {
                flex: 1;
                padding: 12px 16px;
                font-size: 16px;
                border: 1px solid var(--st-border-1);
                border-radius: 6px;

                &:focus {
                    border-color: var(--st-theme-primary);
                    outline: none;
                }
            }

            button[type="submit"] {
                padding: 12px 20px;
                border-radius: 6px;
            }
        }
    }
}


/* Off Canvas Overlay */
.offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    @include transition(0.3s);
    z-index: 9998;
}

/* Off Canvas Menu */
.offcanvas-menu {
    position: fixed;
    top: 0;
    right: -540px;
    width: 540px;
    height: 100%;
    background: #fff;
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.2);
    padding: 60px;
    @include transition(0.4s);
    z-index: 9999;
}

.offcanvas-menu.open {
    right: 0;
}

.offcanvas-overlay.active {
    opacity: 1;
    visibility: visible;
}

.close-offcanvas {
    background: none;
    border: none;
    font-size: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.offcanvas-wrapper{
    padding-bottom: 60px;
    border-bottom: 1px solid var(--st-border-1);
    .offcanvas-logo{
        margin-bottom: 20px;
    }
    .social-icon-wrapper{
        margin-left: -15px;
    }
}
.offcanvas-menu-list{
    padding-top: 60px;
    .offcanvas-menu-wrapper{
        nav{
            ul{
                flex-direction: column;
                li{
                    margin-bottom: 20px;
                }
            }
        }
    }
}