/*----------------------------------------*/
/*  23. PAGINATION CSS START
/*----------------------------------------*/


//Swiper Pagination
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: $bg-color;
    border: 2px solid $bg-color;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--st-theme-primary);
}

//Slider Paginations
.sliderSwiper {
    position: relative;

    @media #{$sm} {
        padding-bottom: 50px;
    }

    @media #{ $xs} {
        padding-bottom: 30px;
    }

    @media #{ $xss} {
        padding-bottom: 20px;
    }
}

.slider-pagination {
    z-index: 99;
    position: absolute;
    left: 96% !important;
    top: 40% !important;

    @media #{$xs} {
        left: 43% !important;
        top: 92% !important;
        display: flex;
        gap: 16px;
    }

    @media #{$sm} {
        left: 45% !important;
        top: 92% !important;
        display: flex;
        gap: 16px;
    }

    @media #{ $md, $lg, $xl} {
        left: 45% !important;
        top: 88% !important;
        display: flex;
        gap: 16px;
    }

    @media #{$xss} {
        left: 40% !important;
    }
}

.slider-pagination>.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--st-common-body);
    opacity: 1;
    margin: 18px 0 !important;
    display: block;
    position: relative;
}

.slider-pagination>.swiper-pagination-bullet.swiper-pagination-bullet-active {
    box-shadow: 0 0 0 4px var(--st-common-white), 0 0 0 5px var(--st-theme-primary);
    background: var(--st-theme-primary);
    border: none;
}

.slider-pagination>.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: attr(data-index);
    position: absolute;
    left: -72px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--st-theme-primary);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--st-ff-menu);

    @media #{$sm, $xs, $md, $lg, $xl} {
        display: none;
    }
}

.slider-pagination>.swiper-pagination-bullet.swiper-pagination-bullet-active .bullet-line {
    position: absolute;
    right: 21px;
    bottom: 40%;
    width: 50px;
    height: 2px;
    background-color: var(--st-theme-primary);

    @media #{$sm, $xs,$md, $lg, $xl} {
        display: none;
    }
}

.slider-pagination>.swiper-pagination-bullet.swiper-pagination-bullet-active .bullet-circle {
    position: absolute;
    right: 71px;
    bottom: calc(40% - 1px);
    width: 5px;
    height: 5px;
    background-color: var(--st-theme-primary);
    border-radius: 50%;

    @media #{$sm, $xs, $md, $lg, $xl} {
        display: none;
    }
}


//Testimonial Pagination
.testimonial-pagination {
    bottom: -3px !important;
}

.testimonial-pagination>.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--st-common-body);
    opacity: 1;
    text-align: center;
    margin: 0 16px !important;
    @media #{ $sm, $xs } {
        margin: 0 8px !important;
    }
}

.testimonial-pagination>.swiper-pagination-bullet.swiper-pagination-bullet-active {
    box-shadow: 0 0 0 4px var(--st-common-white), 0 0 0 5px var(--st-theme-primary);
    background: var(--st-theme-primary);
    border: none;
}



//Swiper Navigation
.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--st-common-white);
    border: 1px solid var(--st-theme-primary);
    @include transition(0.3s);

    &::after {
        font-family: swiper-icons;
        font-size: 14px;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        opacity: 1;
        font-weight: var(--st-fw-bold);
        color: var(--st-theme-primary);
        @include transition(0.3s);
    }

    &:hover,
    &.swiper-button-active {
        background: var(--st-theme-primary);

        &::after {
            color: var(--st-common-white);
        }
    }
}



//Lightbox Arrow

.sl-caption {
    font-size: 16px;
    color: var(--st-common-white) !important;
}

.sl-overlay {
    background: rgba(0, 0, 0, 0.8) !important;
}

.sl-close,
.sl-prev,
.sl-next,
.sl-counter {
    color: var(--st-common-white) !important;
}


//Custom Pagination (Service Page)

.custom-pagination {
    gap: 10px;

    .page-item {
        .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            border: 1px solid var(--st-theme-primary);
            color: var(--st-theme-primary);
            font-weight: var(--st-fw-bold);
            border-radius: 0;
            background-color: transparent;
            font-family: var(--st-ff-menu);
            @include transition (.3s);

            @media #{$xs, $sm} {
                width: 36px;
                height: 36px;
                font-size: 14px;
            }

            &:hover {
                background-color: var(--st-theme-primary);
                color: var(--st-common-white);
            }
            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
                border-color: var(--st-theme-primary); 
                background-color: var(--st-theme-primary);
                color: var(--st-common-white);
            }
        }

        &.active .page-link {
            background-color: var(--st-theme-primary);
            color: var(--st-common-white);
        }
    }


}

/*----------------------------------------*/
/*  23. PAGINATION CSS END
/*----------------------------------------*/
