/*----------------------------------------*/
/*  13. BLOG CSS START
/*----------------------------------------*/


.blog-page-content {
    .blog-grid {
        .blog-main-wrapper .blog-wrapper {
            &:hover .blog-title h6{
                color: var(--st-theme-primary);
            }
            .blog-content {
                padding: 32px;
                .date-left {
                    max-width: 140px;
                    width: 100%;
                    @media #{ $md } {
                        max-width: 174px;
                    }
                    @media #{ $sm, $xs } {
                        max-width: unset;
                        width: 100%;
                    }
                }
            }
        }
    }
}

/*----------------------------------------*/
/*  13. BLOG CSS END
/*----------------------------------------*/
