/*----------------------------------------*/
/*  12. BOOOK GALLERY CSS START
/*----------------------------------------*/


$primary: var(--st-theme-primary);

.book-gallery {

  .books-search-from{
    .subscribe-container{
      max-width: 650px;
      margin: 0 auto;
      align-items: center;
        @media #{$xs} {
          flex-direction: row;
        }
        @media #{$xss} {
          gap: 15px;
        }
    }
  }
  .custom-5-cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 80px;

    @media #{$xs}{
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
    }
    @media #{$sm}{
      grid-template-columns: repeat(3, 1fr);
      row-gap: 40px;
    }
    @media #{$md}{
      grid-template-columns: repeat(4, 1fr);
      row-gap: 60px;
    }
    @media #{$lg}{
      grid-template-columns: repeat(4, 1fr);
      row-gap: 60px;
    }

    .col {
      display: flex;
      justify-content: center;
    }
  }

  .book-item {
    text-align: center;

    img {
      width: 100%;
      max-height: 280px;
      object-fit: cover;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      border: 1px solid var(--st-border-1);
      @include transition (.3s);
    }
    &:hover img{
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, 
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          transform: translateY(-1px) scale(1.01); 
    }

    .title {
      margin-top: 24px;
      margin-bottom: 4px;
      font-size: var(--st-fz-p);
        @media #{$xss, $xs, $sm, $md, $lg} {
          font-size: var(--st-fz-p2);
          line-height: var(--st-lh-p2);
        }
    }
  }
}


/*----------------------------------------*/
/*  12. BOOOK GALLERY CSS END
/*----------------------------------------*/
