// Header Css Start Here

// Header Top Css Start Here

.header-top-area {
    background: var(--st-bg-1);
    padding: 12px 0;

    @media #{$sm,$xs} {
        padding: 12px 0 30px 0;
    }

    @media #{$xss} {
        padding: 12px 0 40px 0;
    }

    .header-top-info {
        .location-info {
            display: inline;
            margin-right: 25px;
            color: var(--st-heading-primary);
            font-weight: var(--st-fw-regular);

            @media #{$lg,$md,$sm,$xs} {
                font-size: 16px;
            }
        }

        .mail-info {
            display: inline;
            color: var(--st-heading-primary);
        }

        @media #{$lg,$md,$sm,$xs} {
            font-size: 16px;
        }

        @media #{$md,$sm,$xs} {
            text-align: center;
        }
    }

    .header-social-info {
        text-align: end;

        @media #{$md,$sm,$xs} {
            text-align: center;
        }

        .social-info {
            display: inline;
            color: var(--st-heading-primary);
            font-weight: var(--st-fw-regular);

            @media #{$lg,$md,$sm,$xs} {
                font-size: 16px;
            }
        }
    }
}

//Social Icon
.social-icon-wrapper {
    display: inline;

    a {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 2px;
            height: 16px;
            background: var(--st-common-light-white);
            top: 4px;
        }

        &:last-child {
            &::after {
                width: 0;
                height: 0;
            }
        }

        i {
            padding: 0 13px;
            color: var(--st-heading-primary);
            @include transition(0.3s);

            &:hover {
                color: var(--st-theme-primary);
            }

            @media #{$xss,$xs, $sm} {
                padding: 0 7px;
            }
        }
    }
}

// Header Top Css End Here



// Banner css start here 

.banner-area {
    height: 700px;
    padding-top: 60PX;
    .section-title{
        margin-bottom: 33px;
    }
}

// Banner css End here 



//info Section Css Start Here
.info-main-wrapper{
    padding-top: 120px;
    .info-title{
        background-image: url('/assets/img/bg-img/quote-icon.png');
        background-position: top center;
        background-repeat: no-repeat;
        padding-bottom: 80px;
        h2{
            text-align: center;
          
        }
    }
    .info-counter{
        margin-bottom: 120px;
        .info-single-count{
            border: 1px solid var(--st-border-1);
            padding: 32px 24px;
            @include transition(0.4s);
            .info-icon{
                margin-bottom: 10px;
            }
            .info-author{
                font-size: 24px;
                line-height: 32px;
                font-family: var(--st-ff-menu);
                font-weight: var(--st-fw-bold);
                display: block;
            }
            &:hover{
                border: 1px solid var(--st-theme-primary);
                box-shadow: 0 0 3px var(--st-border-1), 0 0 1px var(--st-theme-primary);
            }
        }
    }
}
//info Section Css End Here


//About Us Section Css Start Here
.about-us{
    background-image: url('/assets/img/bg-img/about-bg.png');
    padding-top: 120px;
    padding-bottom: 120px;
    .about-us-content-wrapper{
        .section-title{

        }
        .about-us-text{

        }
    }
}
//About Us Section Css End Here