//Program Details Css Start Here
.program-details {
    .program-details-content-wrapper{
    .program-details-img{
        img{
            width: 100%;
        }
    }
    .keypoient-program {
        .program-list{
            ul{
                li{
                    gap: 4px;
                }
            }
        }
    }
    .program-details-dual-img{
        gap: 32px;
        @media #{$xs, $sm, $md}{
            flex-direction: column;
            gap: 24px;
        }
        @media #{$lg}{
            gap: 24px;
        }
        img {
            width: 100%;
        }
    }
}
    .program-sidebar-wrapper {
        .program-information-sidebar {
            .widget-container {
                .program-information-items {
                    ul {
                        li {
                            padding: 24px 0;
                            border-bottom: 1px solid var(--st-border-1);
                            cursor: pointer;

                            .left,
                            .right {
                                gap: 8px;

                                span {
                                    color: var(--st-heading-primary);
                                    @include transition (.3s);
                                }

                                svg {
                                    path {
                                        fill: var(--st-heading-primary);
                                        @include transition (.3s);
                                    }
                                }
                            }

                            &:hover span {
                                color: var(--st-theme-primary);
                            }

                            &:hover svg path {
                                fill: var(--st-theme-primary);
                            }

                            &:first-child {
                                padding-top: 0;
                            }

                        }
                    }
                }

                
            }
        }
    }
}

//Program Details Css End Here